@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --primary-color: #2209fc;
  --accent-color: #e5effe;
}

/* STYLES FOR THE HEADER IN THE HOME PAGE */

.home-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  backdrop-filter: blur(80px);
  z-index: 2;
  border-bottom: 1.2px solid black;
}
.home-nav .left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 50px;
  gap: 20px;
  font-family: "Inknut Antiqua";
}
.home-nav .right {
  margin: 0px 72px;
  display: flex;
  gap: 22px;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.home-nav .right p {
  transition: 0.4s ease color, 0.6s ease transform;
  cursor: pointer;
}
.home-nav .right p:hover {
  color: var(--primary-color);
  transform: scale(1.08);
}
/* RESPONSIVE STYLES FOR THE  HEADER COMPONENT */
@media (min-width: 768px) {
  .mobile-right {
    display: none;
  }
}
@media (max-width: 768px) {
  .home-nav .right {
    display: none;
  }
  .mobile-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 60px;
    position: relative;
  }
  .menu-items {
    position: absolute;
    top: 34px;
    background-color: var(--primary-color);
    width: 80px;
    flex-direction: column;
    gap: 10px;
    padding: 4px 10px 20px 10px;
    border-radius: 10px;
    display: none;
  }
  .menu-items div {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  .menu-items div:hover {
    border-bottom: 1px solid white;
    transform: scale(1.04);
  }
  .mobile-right:hover {
    background-color: #2109fc1e;
  }
  .mobile-right:hover .menu-items {
    display: flex;
  }
  .mobile-right img {
    width: 25px;
    height: 25px;
  }
}

/* STYLES FOR THE USER PROJECTS SECTION */

.user-projects-container {
  display: flex;
  /* align-items: center; */
  font-family: "Inknut Antiqua";
  width: 93%;
  margin: auto;
  padding-top: 72px;
}
.user-projects-container .left {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 24vw;
  width: 80%;
}
.user-projects-container .left img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.user-projects-container .left h2 {
  margin: 4px;
}
.user-projects-container .right {
  display: flex;
  width: 110%;
}
.done-container,
.current-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 18px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.107);
  border-radius: 12px;
  text-align: center;
}
.done-container {
  background-color: var(--primary-color);
  color: white;
  margin-right: 7em;
}
.current-container {
  background-color: var(--accent-color);
  color: #080149;
}
.user-projects-container h3,
.user-projects-container h4 {
  margin: 3px;
}
.user-projects-container h3 {
  font-size: 28px;
}
.user-projects-container h4 {
  font-size: 15px;
}

/* RESPONSIVENESS STYLES FOR THE USER PROJECTS SECTION */

@media (max-width: 1030px) {
  .done-container,
  .current-container {
    width: 80%;
  }
  .user-projects-container .right {
    display: flex;
    width: 280%;
  }
}
@media (max-width: 820px) {
  .user-projects-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
  }
  .user-projects-container .left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .user-projects-container .right {
    display: flex;
    width: 100%;
  }

  .done-container,
  .current-container {
    width: 78%;
  }
  .done-container {
    margin-right: 5em;
  }
}
@media (max-width: 540px) {
  .user-projects-container h3 {
    font-size: 23px;
  }
  .user-projects-container h4 {
    font-size: 10px;
  }
  .done-container {
    margin-right: 3.5em;
  }
}
@media (max-width: 440px) {
  .done-container {
    margin-right: 2em;
  }
}
@media (max-width: 370px) {
  .done-container {
    margin-right: 1em;
  }
}
/* STYLES FOR THE HACKATHONS CONTAINER */

.hackathons-container {
  width: 93%;
  margin: auto;
}
.hackathons-container h2 {
  font-family: "Inknut Antiqua";
}
.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 25px;
  row-gap: 25px;
  padding-bottom: 20px;
}
.hackathon-container {
  border: 1px solid rgb(100, 100, 100);
  padding: 1em 0px 1em 0px;
  border-radius: 10px;
}
.hackathon-container,
.banner-theme-container {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}
.hackathon-banner {
  width: 238px;
  display: flex;
  align-self: center;
  border-radius: 8px;
}
.hackathon-container h3 {
  margin: 6px;
  margin-left: 1em;
}
.hackathon-container p {
  margin: 2px;
  font-size: 12px;
  width: 80%;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}
.date-view-more-container {
  display: flex;
  justify-content: space-between;
  margin-right: 1em;
}
.date-container {
  color: rgb(0, 115, 0);
  font-weight: 600;
  font-size: 10px;
  border: 1px solid rgb(143, 143, 143);
  border-radius: 8px;
  margin: 0px 0px 0px 1.5em;
  width: 65%;
  height: 2em;
}
.view-more-container img {
  width: 15px;
}
.view-more-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  font-weight: 600;
  padding: 10px 15px;
  font-size: 17px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-self: end;
  transition: 0.25s ease-in-out background-color;
  cursor: pointer;
}
.view-more-button:hover {
  background-color: #6f5fff;
}
.view-more-button img {
  width: 20px;
  width: 20px;
  margin-left: 10px;
}

/* RESPONSIVE STYLES FOR THE HACKATHONS SECTION */

@media (max-width: 1040px) {
  .projects-grid {
    grid-template-columns: 1fr 1fr;
  }
  .date-container {
    width: 42%;
  }
  .hackathon-banner {
    width: 430px;
  }
}
@media (max-width: 990px) {
  .hackathon-banner {
    width: 400px;
  }
  .date-container {
    width: 45%;
  }
}
@media (max-width: 950px) {
  .hackathon-banner {
    width: 360px;
  }
  .date-container {
    width: 45%;
  }
}
@media (max-width: 820px) {
  .projects-grid {
    grid-template-columns: 1fr 1fr;
  }
  .date-container {
    width: 75%;
  }
  .hackathon-banner {
    width: 310px;
  }
}
@media (max-width: 760px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
  .banner-theme-container {
    flex-direction: row;
  }
  .hackathon-container {
    flex-direction: column;
    gap: 10px;
  }
  .hackathon-banner {
    width: 120px;
    margin-left: 1em;
  }
  .date-container {
    width: 30%;
  }
  .hackathon-container {
    padding: 0.4em 0px 0.4em 0px;
  }
  .hackathon-container h3 {
    margin-top: 0px;
  }
}
@media (max-width: 635px) {
  .date-container {
    width: 39%;
  }
}
@media (max-width: 560px) {
  .hackathon-container h3 {
    font-size: 17px;
  }
  .hackathon-container p {
    font-size: 10px;
  }
  .date-container {
    width: 40%;
  }
}
@media (max-width: 425px) {
  .date-container {
    width: 46%;
  }
}
