@import "./App.css";

/* STYLES FOR THE HEADER COMPONENT */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  backdrop-filter: blur(80px);
  z-index: 3;
  border-bottom: 1.2px solid black;
}
nav .left {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-left: 70px;
  font-family: "Inknut Antiqua";
}
nav .right {
  display: flex;
  gap: 10px;
  margin-right: 70px;
}
.logo {
  background-color: var(--primary-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .right button {
  padding: 5px 20px;
  border-radius: 10px;
  transition: 0.25s ease-in-out background-color, 0.25s ease-in-out color;
  cursor: pointer;
}
.login-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
}
.signup-button {
  background-color: transparent;
  border: 1.5px solid #2209fc;
  color: var(--primary-color);
}
.login-button:hover,
.hero-section .left button:hover {
  background-color: transparent;
  color: var(--primary-color);
  border: 1.5px solid #2209fc;
  transform: scale(1.02);
}
.signup-button:hover {
  background-color: var(--primary-color);
  color: white;
  transform: scale(1.02);
}
/* RESPONSIVE STYLES FOR THE  HEADER COMPONENT */
@media (min-width: 768px) {
  .mobile-right {
    display: none;
  }
}
@media (max-width: 768px) {
  nav .right {
    display: none;
  }
  .mobile-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 60px;
    position: relative;
  }
  .menu-items {
    position: absolute;
    top: 34px;
    background-color: var(--primary-color);
    width: 80px;
    flex-direction: column;
    gap: 10px;
    padding: 4px 10px 20px 10px;
    border-radius: 10px;
    display: none;
  }
  .menu-items div {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  .menu-items div:hover {
    border-bottom: 1px solid white;
    transform: scale(1.04);
  }
  .mobile-right:hover {
    background-color: #2109fc1e;
  }
  .mobile-right:hover .menu-items {
    display: flex;
  }
  .mobile-right img {
    width: 25px;
    height: 25px;
  }
}
/* STYLES FOR THE HERO SECTION */
.hero-section {
  padding-top: 75px;
  display: flex;
  justify-content: space-between;
  width: 92%;
  margin: auto;
}
.hero-section .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-section .right img {
  width: 480px;
  border-radius: 12px;
}
.hero-section .left h1 {
  font-family: "Inknut Antiqua";
  font-size: 36px;
  line-height: 1.2;
  width: 80%;
  margin-bottom: 2px;
}
.hero-section .left p {
  font-family: Arial, Helvetica, sans-serif;
}
.hero-section .left button {
  width: 25%;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: white;
  transition: 0.35s ease-in-out background-color, 0.35s ease-in-out color;
  cursor: pointer;
}
/* STYLES FOR RESPONSIVENESS IN THE HERO SECTION PAGE */
@media (min-width: 768px) {
  .hero-section-mobile {
    display: none;
  }
}
@media (max-width: 768px) {
  .hero-section {
    display: none;
  }
  .hero-section-mobile,
  .hero-section-mobile .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 92%;
    margin: auto;
    padding-top: 23px;
  }
  .hero-section-mobile .top h1 {
    font-family: "Inknut Antiqua";
    font-size: 30px;
    line-height: 1.2;
    width: 98%;
    margin-bottom: 2px;
    text-align: center;
  }
  .hero-section-mobile .top img {
    width: 580px;
    border-radius: 12px;
  }
  .hero-section-mobile button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: white;
    transition: 0.35s ease-in-out background-color, 0.35s ease-in-out color;
    cursor: pointer;
  }
  .hero-section-mobile .top p {
    font-family: Arial, Helvetica, sans-serif;
  }
}
@media (max-width: 618px) {
  .hero-section-mobile .top img {
    width: 480px;
  }
}
@media (max-width: 520px) {
  .hero-section-mobile .top img {
    width: 390px;
  }
}
@media (max-width: 410px) {
  .hero-section-mobile .top img {
    width: 390px;
  }
}
/* STYLES FOR THE PROJECTS SECTION */

.projects-section {
  background-color: var(--accent-color);
  width: 100%;
  padding-bottom: 20px;
}
.projects-section h1 {
  font-family: "Inknut Antiqua";
  text-align: center;
  line-height: 1.2;
}
.project-container {
  display: flex;
  justify-content: center;
  width: 50vw;
  margin: auto;
}

.project-container img {
  width: 560px;
  border-radius: 10px;
}

/* RESPONSIVENESS STYLES FOR THE PROJECTS SECTION */

@media (max-width: 768px) {
  .project-container {
    width: 80vw;
  }
  .project-container img {
    width: 460px;
  }
}@media (max-width: 508px) {
  .project-container img {
    width: 380px;
  }
}

/* EDU SECTION STYLES */

.edu-section {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.edu-section div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.edu-section div img {
  width: 50px;
}
.edu-section div p {
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: -2px;
  text-align: center;
  width: 60%;
}

/* STYLES FOR THE TESTIMONIALS SECTION */
.testimonials {
  border-top: 1px solid black;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 50px;
}
.testimonials h1 {
  font-family: "Inknut Antiqua";
  text-align: center;
}
.testimonials-grid {
  display: flex;
  width: 90vw;
  margin: auto;
  justify-content: center;
  gap: 18px;
}
.testimonial {
  width: 25%;
  padding: 20px 10px;
  border-radius: 20px;
  background-color: var(--accent-color);
  height: 140px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 1px 2px 4px #2109fc6a;
}
.testimonial div {
  background-color: var(--primary-color);
  width: 90%;
  margin: auto;
  display: flex;
  color: white;
  gap: 30px;
  border-radius: 30px;
  box-shadow: 1px 2px 4px #2109fc6a;
}
.testimonial div img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .top-level-slider-container {
    display: none;
  }
}
@media (max-width: 768px) {
  .testimonials-grid {
    display: none;
  }

  .mobile-testimonials {
    text-align: center;
  }

  .mobile-slider-container {
    position: relative;
    width: 100%;
    max-width: 360px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 50px;
  }
  .top-level-slider-container {
    position: relative;
  }

  .mobile-testimonials-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .testimonial {
    min-width: 100%;

    background-color: var(--accent-color);
    border-radius: 10px;
    box-shadow: 1px 2px 4px #2109fc6a;
  }

  .testimonial img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .nav-button {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    background: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 30;
  }

  .nav-button.left {
    left: 10px;
  }

  .nav-button.right {
    right: 10px;
  }
}

/* STYLES FOR THE FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--accent-color);
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 30px;
}
footer div {
  margin: 10px 20px;
}
footer .logo {
  font-family: "Inknut Antiqua";
}
footer .right p {
  display: flex;
  align-items: center;
  gap: 5px;
}
footer .right span {
  font-size: 12px;
  font-weight: 200;
}
/* RESPONSIVENESS STYLES FOR THE FOOTER COMPONENT */

@media (max-width: 768px) {
  footer,
  footer .left,
  .footer .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2px;
  }
}
